<h1>Forms in Panels</h1>
<p>
The block form of {{#code-inline}}component:accordion-list{{/code-inline}} yields a second
parameter which is a action that will close an item.  Below is an example of how to use it.
</p>
<p>
Note that to both update the item and close the item a helper from
<a href="https://github.com/flexyford/ember-curry-helpers">ember-curry-helpers</a> is
being leveraged.
</p>

{{#accordion-list as |listId closeItem|}}
  {{#each items as |item|}}
    {{#accordion-item as |itemId|}}
      {{#accordion-toggle listId itemId}}
        <i class="fa fa-angle-right"></i>{{item.name}}
      {{/accordion-toggle}}
      {{#accordion-panel listId itemId}}
        <p>{{item.value}}</p>
        <p>Update name: {{input value=newName}}</p>
        <button {{action (pipe (action 'updateName' item newName) (action closeItem itemId)) }}>Update Item</button>
      {{/accordion-panel}}
    {{/accordion-item}}
  {{/each}}
{{/accordion-list}}

{{#code-block }}
\{{#accordion-list as |listId closeItem|}}
  \{{#each items as |item|}}
    \{{#accordion-item as |itemId|}}

      \{{#accordion-toggle listId itemId}}
        &lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;
        \{{item.name}}
      \{{/accordion-toggle}}
      \{{#accordion-panel listId itemId}}
        \{{item.color}}
        &lt;p&gt;{{item.value}}&lt;/p&gt;
        &lt;p&gt;Update name: \{{input value=newName}}&lt;/p&gt;
        &lt;button \{{action (pipe (action 'updateName' item newName) (action closeItem itemId)) }}&gt;
          Update Item
        &lt;/button&gt;
      \{{/accordion-panel}}

    \{{/accordion-item}}
  \{{/each}}
\{{/accordion-list}}{{/code-block}}
