<h3>Forms in Panels</h3>
<p>
The yielded object from {{#code-inline}}accordion.item{{/code-inline}} provides
a {{#code-inline}}close{{/code-inline}} property which is a action that will close an item.
</p>

<p>
The example below is a bit contrived but there are valid use cases where a user action in a panel should
close the panel
</p>

<AccordionList as |accordion|>
  {{#each items as |item|}}
    <accordion.item as |accordionItem|>
      <accordionItem.toggle>
        <span class='angle-right'>></span>
        {{item.name}}
      </accordionItem.toggle>
      <accordionItem.panel>
        <p>{{item.value}}</p>
        <p>Update name: {{input value=newName}}</p>
        <button {{action (pipe (action 'updateName' item newName) (action accordionItem.close)) }}>Update Item</button>
      </accordionItem.panel>
    </accordion.item>
  {{/each}}
</AccordionList>

{{#code-block }}
&lt;AccordionList as |accordion|&gt;
  \{{#each items as |item|}}
    &lt;accordion.item as |accordionItem|&gt;

      &lt;accordionItem.toggle&gt;
        &lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;
        \{{item.name}}
      &lt;/accordionItem.toggle&gt;
      &lt;accordionItem.panel&gt;
        \{{item.color}}
        &lt;p&gt;\{{item.value}}&lt;/p&gt;
        &lt;p&gt;Update name: \{{input value=newName}}&lt;/p&gt;
        &lt;button \{{action (pipe (action 'updateName' item newName) (action accordionItem.close) }}&gt;
          Update Item
        &lt;/button&gt;
      &lt;/accordionItem.panel&gt;

    &lt;/accordion.item&gt;
  \{{/each}}
&lt;/AccordionList&gt;
{{/code-block}}
