<h1>Blockless Examples</h1>
<p>
The blockless form of {{#code-inline}}accordion-list{{/code-inline}} is good for rendering a classic
jQuery UI style accordion where each item in the accordion has one toggle/panel pair.
In the blockless form it requires three parameters:
  <ol>
    <li>{{#code-inline}}items{{/code-inline}} - An array of objects that are passed into the toggle and panel templates.</li>
    <li>{{#code-inline}}toggleTemplate{{/code-inline}} - The name of the template to be rendered as the toggle element.</li>
    <li>{{#code-inline}}panelTemplate{{/code-inline}} - The name of the template to be rendered when the toggle element is clicked.</li>
  </ol>
</p>

<h2>Simplest Example</h2>
<h3>Example Code</h3>
{{#code-block language='markup'}}
&lt;!-- [{name: 'thing 1', color: 'red'}, {name: 'thing 2', color: 'red too'}]  --&gt;
\{{accordion-list items 'accordion-toggle' 'accordion-panel'}}{{/code-block}}

{{#code-block language='markup'}}
&lt;!-- accordion-toggle.hbs --&gt;
\{{#if isActive}}
  &lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;
  \{{item.name}}
\{{/if}}{{/code-block}}

{{#code-block language='markup'}}
&lt;!-- accordion-panel.hbs --&gt;
\{{item.color}}{{/code-block}}

{{#code-block language='css'}}
// The componet:accordion-toggle has the class is-active applied when its matching panel is open
// so that you can style the toggle differently when it is active.
.AccordionToggle .fa-angle-right {
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease;
}
.AccordionToggle.is-active .fa-angle-right {
  transform: rotate(90deg);
}{{/code-block}}

<h3>Example Output</h3>
{{accordion-list items 'accordion-elements/toggle' 'accordion-elements/panel'}}

<h2>Allow Multiple Open Panels</h2>
<p>
In some cases you want the user to be able to have multiple panels open simultaneously.
To do so set {{#code-inline}}allowManyActiveItems=true{{/code-inline}}.
</p>
<h3>Example Code</h3>
{{#code-block language='markup'}}
&lt;!-- Assuming the previous example except this change --&gt;
\{{accordion-list items 'accordion-toggle' 'accordion-panel' allowManyActiveItems=true}}{{/code-block}}

<h3>Example Output</h3>
{{accordion-list items 'accordion-elements/toggle' 'accordion-elements/panel' allowManyActiveItems=true}}
