<h3>Nested Accordion</h3>

<AccordionList as |outerAccordion|>
  {{#each items as |item|}}
    <outerAccordion.item as |outerAccordionItem|>

      <outerAccordionItem.toggle>
        <span class='angle-right'>></span>
        {{item.name}}
      </outerAccordionItem.toggle>

      <outerAccordionItem.panel openOnInit=true>
        <AccordionList as |innerAccordion|>
          {{#each item.children as |child|}}
            <innerAccordion.item as |innerAccordionItem|>
              <innerAccordionItem.toggle>
                <span class='angle-right'>></span>
                {{child.name}}
              </innerAccordionItem.toggle>
              <innerAccordionItem.panel>
                {{child.value}}
              </innerAccordionItem.panel>
            </innerAccordion.item>
          {{/each}}
        </AccordionList>
      </outerAccordionItem.panel>

    </outerAccordion.item>
  {{/each}}
</AccordionList>

{{#code-block}}
&lt;!-- The trick here is naming outer and inner accordions differently. --&gt;


&lt;!-- Note 'outerAccordion' --&gt;
&lt;AccordionList as |outerAccordion|&gt;
  \{{#each items as |item|}}

    &lt;!-- Note 'outerAccordionItem' --&gt;
    &lt;outerAccordion.item as |outerAccordionItem|&gt;
      &lt;outerAccordionItem.toggle&gt;
        &lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;
        \{{item.name}}
      &lt;/outerAccordionItem.toggle&gt;

      &lt;outerAccordionItem.panel&gt;

        &lt;!-- Note 'innerAccordion' --&gt;
        &lt;AccordionList as |innerAccordion|&gt;
          \{{#each item.children as |child|}}

            &lt;!-- Note 'innerAccordionItem' --&gt;
            &lt;innerAccordion.item as |innerAccordionItem|&gt;
              &lt;innerAccordionItem.toggle&gt;
                &lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;
                \{{child.name}}
              &lt;/innerAccordionItem.toggle&gt;
              &lt;innerAccordionItem.panel&gt;
                \{{child.value}}
              &lt;/innerAccordionItem.panel&gt;

            &lt;/innerAccordion.item&gt;
          \{{/each}}
        &lt;/AccordionList&gt;
      &lt;/outerAccordionItem.panel&gt;
    &lt;/outerAccordion.item&gt;
  \{{/each}}
&lt;/AccordionList&gt;
{{/code-block}}
