<h3>Example Usage</h3>
{{#accordion-list as |accordion|}}
  {{#each items as |item|}}
    {{#accordion.item as |accordionItem|}}
      {{#accordionItem.toggle}}
        <i class="fa fa-angle-right"></i>
        {{item.name}}
      {{/accordionItem.toggle}}
      {{#accordionItem.panel}}
        {{item.description}}
      {{/accordionItem.panel}}
    {{/accordion.item}}
  {{/each}}
{{/accordion-list}}


{{#code-block language='markup'}}
&lt;!-- Define a new accordion-list --&gt;
\{{#accordion-list as |accordion|}}

  &lt;!-- Iterate over an array of items --&gt;
  \{{#each items as |item|}}

    &lt;!-- For each element in list create an 'accordion.item' --&gt;
    \{{#accordion.item as |accordionItem|}}

      &lt;!-- Create a 'toggle' and a 'panel' for the item --&gt;
      \{{#accordionItem.toggle}}
        &lt;i class="fa fa-angle-right"&gt;&lt;/i&gt;
        \{{item.name}}
      \{{/accordionItem.toggle}}

      &lt;!-- Clicking on the 'toggle' will display the contents of the 'panel' --&gt;
      \{{#accordionItem.panel}}
        \{{item.description}}
      \{{/accordionItem.panel}}
    \{{/accordion.item}}
  \{{/each}}
\{{/accordion-list}}
{{/code-block}}


<h3>Open Many Panels at Once</h3>
{{#accordion-list allowManyActiveItems=true as |accordion|}}
  {{#each items as |item|}}
    {{#accordion.item as |accordionItem|}}
      {{#accordionItem.toggle}}
        <i class="fa fa-angle-right"></i>
        {{item.name}}
      {{/accordionItem.toggle}}
      {{#accordionItem.panel}}
        {{item.description}}
      {{/accordionItem.panel}}
    {{/accordion.item}}
  {{/each}}
{{/accordion-list}}

{{#code-block language='markup'}}
&lt;!-- Follow example above, set 'allowManyActiveItems=true' --&gt;
\{{#accordion-list allowManyActiveItems=true as |accordion|}}
  &lt;!-- ... --&gt;
\{{/accordion-list}}
{{/code-block}}

<h3>Default Open Panel(s)</h3>
{{#accordion-list allowManyActiveItems=true as |accordion|}}
  {{#each items as |item|}}
    {{#accordion.item as |accordionItem|}}
      {{#accordionItem.toggle}}
        <i class="fa fa-angle-right"></i>
        {{item.name}}
      {{/accordionItem.toggle}}
      {{#accordionItem.panel openOnInit=true}}
        {{item.description}}
      {{/accordionItem.panel}}
    {{/accordion.item}}
  {{/each}}
{{/accordion-list}}

{{#code-block language='markup'}}
&lt;!-- Set 'openOnInit=true' on the desired panel(s) --&gt;

&lt;!-- ... --&gt;
\{{#accordionItem.panel openOnInit=true}}
  &lt;!-- ... --&gt;
\{{/accordionItem.panel}}
&lt;!-- ... --&gt;
{{/code-block}}
